// Start About
.about {
    @extend %flex-center-center;

    .container {
        .row {
            @extend %flex-center-center;

            .col {
                flex-basis: 50%;
                line-height: 1.5;

                img {
                    @extend %img-full;
                }
            }
        }
    }
}

@media (max-width:992px) {
    .about {
        .container {
            .row {
                flex-direction: column;

                .col {
                    flex-basis: 100%;
                }
            }
        }
    }
}

// End About